<p>Magic Items Awarded so far</p>
<table>
    <thead>
        <tr>
            <th></th>
            {{#each context.tierList}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each context.tableLines}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>