<div class="nyqDivRounded10px nyqDivPadded10px nyqDivGrid2"{{#if hideMe}} data-hide='true'{{/if}}>
    <button class="nyqButton" data-action="myAction" type="button" id="btnListTrackers"><i class="fa-solid fa-wand-sparkles">List Trackers</i></button> 
    <button class="nyqButton" data-action="myAction" type="button" id="btnModifyTracker"><i class="fa-solid fa-wand-sparkles">Modify Tracker</i></button> 
</div>