<div class="divExecPreloadExt divWithPadding">
    <div class="divExecPreload nyqBorderPurple divWithBorder">
        <input type="checkbox" class="execPreload" id="execPreload"{{#if execPreLoad}}checked{{/if}}>
        <label>Execute the preload</label>
    </div>
</div>