<div class="footerDivExt">
<div class="footerDiv">
     <button class="nyqButton" data-action="myAction" type="button" id="btnClasses"><i class="fa-solid fa-wand-sparkles">Classes</i></button> 
     <button class="nyqButton" data-action="myAction" type="button" id="btnBG"><i class="fa-solid fa-seedling">Background</i></button> 
     <button class="nyqButton" data-action="myAction" type="button" id="btnSpecies"><i class="fa-solid fa-person">Species</i></button> 
</div>
</div>